<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Idcard:</strong>
  <%= @list.idcard %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @list.phone %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
